.content-group {
    padding: .6rem 5%;
}

.content-group__description {
    font-size: .8rem;
    letter-spacing: 2px;
}

.content-group__value {
    font-size: 1.4rem;
    font-weight: 500;
}

@media screen and (min-width: 501px) {
    .content-group {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .content-group__value {
        font-size: 1.5rem;
        margin-top: 15px;
    }
}